

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


nav ul{
  list-style-type: none;
}
nav a{
  text-decoration: none;
  color: white;
}

nav ul li{
  display: inline-block;
  padding: 10px;
}
.features{
  padding: 3%;
}

.features  ul li{
  display: inline;
 
}
nav a.is-active{
  font-weight: bold;
  pointer-events: none;
  background-color: rgb(11, 10, 11);
  color: white;
  }

  ul{
    list-style-type: none;
  }
  
  h1, h2 p{
    color: white;
  }
  